<div class="container-fluid m-0 vh-100 d-flex align-items-center justify-content-center img-bg" >
    <div class="container">
    <div class="row d-flex  justify-content-center">
        <div class="col-md-5 bg-1 pt-5 pb-5 neon-blue ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 txt-color-pink font-orbiter">
                    <h1 class="text-center md-3">Entrar</h1>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input class="form-control" [(ngModel)]="usuarioLogin.usuario" type="text" name="usuario" id="usuario" placeholder="Seu usuario">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" [(ngModel)]="usuarioLogin.senha" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="  btn-awhite" (click)="entrar()" type="submit">Entrar</button>
                    </div>
                    
                    <p class="text-center mt-5">Não é cadastrado ? <a routerLink="/cadastrar" class="txt-color-lightblue">Cadastre-se</a></p>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
